.button--large
    --btn-large-padding: #{pxToRem(6)} #{pxToRem(26)}
    @include h3

.button--small
    --btn-border: 1px solid var(--color-accent)
    --btn-background: var(--color-background)
    --btn-color: var(--color-accent)
    --btn-hover-border: 1px solid var(--color-accent)
    --btn-hover-background: var(--color-accent)
    --btn-hover-color: var(--color-background)
    text-decoration: none
    padding: space(2) space(4)