.block-call_to_action
    .call_to_action
        .top
            .description p
                @include body-text
            + .actions
                margin-top: $spacing-5
        .actions
            --btn-large-padding: 0
            a,
            a:first-child
                display: block !important
                text-align: left
                text-decoration: none
                @include h4
                &::after
                    @include icon-site('icon-chevron')
                    display: inline-block
                    font-size: 75%
                    padding-left: $spacing-1
                    transition: transform 0.2s ease
                &:hover::after
                    transform: translateX(25%)
                @include media-breakpoint-up(desktop)
                    @include h3
        @include in-page-without-sidebar
            &--with-image
                > div
                    grid-column: 1 / 9
                figure
                    grid-column: 10 / 13
                    margin-left: var(--grid-gutter-negative)
                    img
                        aspect-ratio: 16/9
    &--accent_background
        @include in-page-without-sidebar
            background-color: transparent
            .top
                display: flex !important
                gap: var(--grid-gutter)
                grid-column: 1 / 10 !important
                .block-title
                    width: offset(2)
                .description
                    flex: 1
            .block-content
                background-color: var(--color-accent)
                margin-left: 0
                margin-right: 0
                padding-bottom: space(8)
                padding-top: space(8)
            .actions
                grid-row: 1 !important
                align-items: flex-end !important
                a:first-child
                    --btn-min-width: unset