.block
    .block-title
        @include in-page-without-sidebar
            a::after
                opacity: 0
                content: '→'
                font-family: $heading-font-family
                padding-left: space()
            a:hover::after
                opacity: 1

.slider
    .slider-arrow
        &::before
            font-family: $heading-font-family
        &-previous::before
            content: '←'
        &-next::before
            content: '→'