.block-features
    &--list
        .features
            .feature
                border-bottom: none
                padding-bottom: 0
                &:first-child
                    padding-top: 0
                &-content
                    border-top: 1px solid var(--color-accent)
                    display: block
                + .feature
                    padding-top: space(7)
            
            @include in-page-with-or-without-sidebar
                .feature
                    .feature-content
                        display: block
                        .feature-description
                            margin-left: 0
                    figure
                        order: 2
                        picture img
                            width: 100%
                    + .feature
                        padding-top: pxToRem(5)
        
            .document-content &
                .feature
                    .name
                        @include h1
            
                @include in-page-without-sidebar
                    .feature
                        .feature-content
                            .name,
                            .feature-description
                                width: columns(9)
                        figure.media
                            width: columns(3)
            
            @include in-page-without-sidebar
                .feature
                    flex-direction: row
                    gap: var(--grid-gutter)
                    .feature-content
                        .feature-description
                            margin-left: 0
                            margin-top: space()
            
            @include media-breakpoint-down(desktop)
                .feature
                    gap: space(5)
                    .feature-description
                        @include meta
                    .media
                        width: 100%
                        order: 2
                    .feature-content
                        padding-top: space(7)

            @include media-breakpoint-up(desktop)
                .feature
                    .name
                        @include h3
                        margin-top: $spacing-1

        .hero &
            .features
                .feature-content
                    div
                        @include small
        
                @include media-breakpoint-up(desktop)
                    .feature
                        .feature-content
                            display: block
                            &, > *
                                width: columns(4) !important
                            .name
                                @include h4
                        figure
                            background-color: var(--color-background-alt)
                            padding-top: 0
                            width: columns(2)
                            &.media--image
                                img
                                    aspect-ratio: 1
                                    object-fit: cover

    &.block-features--grid
        .feature
            border-top: 1px solid var(--color-text)
            padding-top: $spacing-1
            .media
                padding-top: space(7)
                order: 2
                margin-top: auto
                margin-bottom: 0
        
        .hero &
            .features
                @include grid(2, desktop)
                grid-gap: space(7) var(--grid-gutter) !important
                .media
                    width: columns(3)