.block-organizations
    &--map
        .map
            background-color: var(--color-accent)
            .leaflet-popup-content
                .organization-content
                    padding: space(5)
                .media--logo
                    background-color: var(--color-background)
            .leaflet-tile
                filter: grayscale(100%)
                mix-blend-mode: multiply
                opacity: 80% !important
                pointer-events: none
    &--grid
        .organization
            &-content
                display: flex
                flex-direction: column
                address
                    margin-top: space()
            &-summary
                order: 2
                + address
                    margin-bottom: $spacing-1
    &--large
        .organizations
            &, &.with-summaries, &:not(.with-summaries)
                @include media-breakpoint-up(desktop)
                    @include grid(1)
                .organization
                    gap: var(--grid-gutter)
                    width: 100%
                    &-content
                        flex: 1
                    &-title
                        @include h3
                        + .organization-summary
                            @include body-text
                            margin-top: space(5)
                    .media
                        width: columns(6)
                        picture
                            aspect-ratio: 3/2
                    @include media-breakpoint-down(desktop)
                        flex-direction: column
                        .media
                            margin-bottom: 0
                            padding: 0
                            width: 100%
    &:not(.organizations--with-images, .block-organizations--map)
        .organization
            @include small-arrow-right-hover(".organization-title a")
            &-title
                text-decoration: underline
                text-underline-offset: 4px
                a::after
                    content: '→' !important
                    font-family: $heading-font-family !important
                    display: inline-block
                    font-family: inherit
                    margin-left: space()