footer#document-footer
    padding-bottom: 0
    > .container + .container
        padding-bottom: space(8)
        @include media-breakpoint-up(desktop)
            align-items: center
            border-top: 1px solid $color-border-alt
            padding-top: space(8)
        @include media-breakpoint-down(desktop)
            display: flex
            flex-direction: column
            margin-top: space(8)
            gap: space(8)
            .footer-legals
                order: -1
                border-top: 1px solid $color-border-alt
                padding-top: space(8)
                margin-top: 0
    
    .footer-presentation
        .logo
            + p
                margin-top: space(10)
            @include media-breakpoint-up(desktop)
                img
                    width: columns(3)
        p + p
            margin-top: $spacing-3
        .ecosystem-cta
            li + li
                margin-top: 0
            li:not(:last-child)::after
                content: '↗'
                margin-left: 2px
                display: inline
            li:last-child::first-letter
            a
                text-decoration: underline
                &::after
                    content: none
    .footer-cta li
        margin-top: $spacing-4
        text-align: left
        a
            text-decoration: underline
            &[target="_blank"]::after
                content: '↗'
                display: inline-block
                margin-left: 2px
                font-family: $heading-font-family
        @include media-breakpoint-down(desktop)
            @include meta
    .footer-site
        @include body-text
        text-align: left
        .footer-cta li
            margin-top: $spacing-3
            @include media-breakpoint-up(desktop)
                margin-top: $spacing-4
        address
            [itemprop="extendedAddress"]
                display: block
            [itemprop="addressCountry"]
                @extend .sr-only
        .phone-numbers span
            display: block
    .footer-social
        .linkedin::after
            @include icon-site('icon-linkedin')
            font-size: pxToRem(37)
        .instagram::after
            @include icon-site('icon-instagram')
            font-size: pxToRem(37)
    @include media-breakpoint-up(desktop)
        .footer-presentation
            flex: 1
        .container
            padding-bottom: 0
            &:first-child
                gap:: var(--grid-gutter)
                > * 
                    padding-bottom: space(10)
            + .container
                ul
                    @include meta
                    align-items: baseline
                    display: flex
                    gap: var(--grid-gutter)
                    li + li
                        margin-top: 0
                    &.footer-social
                        gap: space(6)
                        li::after
                            margin-left: 0
            .footer-site,
            .footer-nav
                width: offset(2)
            .footer-presentation
                margin-right: $spacing-3
            @include media-breakpoint-up(xl)
                > .nav-level-1
                    border-left: 1px solid $color-border-alt
                    padding-left: space(10)
        @include media-breakpoint-down(xl)
            .container:first-child
                flex-wrap: wrap
                row-gap: 0
                .footer-presentation
                    width: 100%
    .footer-landscape 
        picture
            display: none
            &:first-child
                display: block
            img
                width: 100%
    @include media-breakpoint-down(desktop)
        padding-top: var(--grid-gutter)
        .footer-presentation
            @include meta
        .footer-social
            display: flex
            gap: space(8)
            .site-links li 
                + li
                    margin-top: 0
                &::after
                    margin-right: 0
        .footer-site,
        .footer-nav
            margin-top: $spacing-3
        .footer-landscape img
            aspect-ratio: 1
            object-fit: cover