header#document-header
    .nav-search
        button::after
            font-size: pxToRem(30)
    .upper-menu
        .nav-level-1
            li
                &:nth-child(2)
                    a::after
                        content: '↗'
                        font-family: inherit
                        padding-left: space()
                &:last-child
                    @include meta
                    a::after
                        content: '→'
                        display: inline-block
                        font-family: inherit
                        padding-left: space()
                        transition: transform 0.2s ease
                    a:hover::after
                        transform: translateX(25%)
    @include media-breakpoint-up(desktop)
        .upper-menu
            .container
                position: relative
            .nav-level-1
                @include h4
                flex-wrap: wrap
                gap: unset
                justify-content: flex-end
                position: absolute
                right: var(--grid-gutter)
                width: auto
                li:not(:last-child)
                    border-bottom: 1px solid var(--color-accent)
                    a
                        width: 100%
                li:nth-child(1)
                    padding-right: space(6)
                    &::after
                        content: ''
                        background: var(--color-accent)
                        height: pxToRem(35)
                        width: 1px 
                        position: absolute
                        right: 0
                li:nth-child(2)
                    text-align: right
                    padding-left: space(6)
                li:last-child
                    width: 100%
                    a
                        margin-left: auto
        .primary-menu
            .logo
                max-width: columns(8)
            > .container
                row-gap: $spacing-4
            .nav-level-1
                gap: var(--grid-gutter)
                justify-content: space-between
                width: columns(12)
                li
                    a, span, button
                        @include h4
    @include media-breakpoint-down(desktop)
        html.has-menu-opened &
            --color-border: var(--color-background)
            background-color: var(--color-accent)
            overflow: auto
            height: 100vh
            padding-bottom: $spacing-2
            &, a, span, button
                color: var(--color-background)
            .logo img
                filter: brightness(50)
            .menu
                padding-top: 0
                margin-top: $spacing-2
                > .nav-level-1 > li
                    border: none
                    > a
                        @include h3
                        padding: space(4) 0
            .upper-menu
                top: unset
                position: relative
                .nav-level-1 
                    height: auto
                    display: block
                    > li
                        &:not(:last-child) > a
                            @include h3
                        &:first-child
                            border-bottom: 1px solid var(--color-border)
                            margin-bottom: $spacing-3
                            padding-bottom: $spacing-2
                        &:last-child
                            margin-top: space(10)