.posts--large,
.events,
.exhibitions
    .post,
    .event,
    .exhibition
        .more
            text-decoration: underline
            text-underline-offset: 2px
            &::after
                content: '↗'
                display: inline-block
                font-family: inherit
                margin-left: space()
                transition: transform 0.2s ease
        &:hover .more::after
            transform: translate(space(), -(space()))

.posts--large,
.events--list
    @include media-breakpoint-up(desktop)
        .post,
        .event
            .more
                @include body-text

.posts--large,
.events--large
    .post,
    .event
        .media img
            aspect-ratio: 16/9

        @include in-page-without-sidebar
            [class$="-subtitle"]
                @include body-text
        
        @include in-page-with-or-without-sidebar
            [class$="-title"]
                @include h3