.siblings-navigation
    li
        &.previous a
            span::before
                content: '←'
                font-family: $heading-font-family
        &.next a
            span::after
                content: '→'
                font-family: $heading-font-family