.block-agenda
    .event-content
        .event-title
            order: -1
        .event-subtitle
            @include body-text
            color: var(--color-accent)
        .event-description
            @include meta
        .event-categories
            order: -1
            margin-top: space()
            margin-bottom: space(4)
            a
                border: 1px solid var(--color-accent)
                text-decoration: none
                padding: space(2) space(4)
                border-radius: 20px
            li:not(:last-child) a::after
                content: none
    .event-time
        align-items: baseline
        span:first-child
            @include h3
            + span::before
                content: '→'
                font-family: inherit
    .media img
        aspect-ratio: 3 / 2
        object-fit: cover
    @include media-breakpoint-down(desktop)
        .event-content
            display: flex
            flex-direction: column
            gap: $spacing-2


.events--list .event:where(:not(:last-child)), 
.events--list .exhibition:where(:not(:last-child))
    border-bottom-style: dashed