.jobs--grid
    .job
        height: 100%
        border: 5px solid var(--color-accent)
        padding: space(6)
        .job-title
            @include h3
            + *
                margin-top: space(5)
        .job-content
            flex: 1
            display: flex
            flex-direction: column
        .job-categories
            flex-direction: column
            li + li
                margin-top: $spacing-1
        .media:empty
            display: none
        .more
            margin-top: auto
            padding-top: space(8)
        &, a, time
            transition: all 0.3s ease
        &:hover
            background: var(--color-accent)
            &, a, time
                color: var(--color-background)
                text-decoration-color: var(--color-background)

        @include media-breakpoint-up(desktop)
            padding: space(7)