
// specific course/practice pages blocks
.ancestor-courses_and_practices
    &, &.full-width
        .hero
            .blocks > .block
                .container
                    padding-left: 0
                    padding-right: 0
            @include media-breakpoint-down(desktop)
                figure
                    margin-bottom: $spacing-4
            @include media-breakpoint-up(desktop)
                padding-bottom: 0
                margin-bottom: space(8)
                .blocks
                    margin-top: $block-space-y-desktop
                    display: flex
                    gap: var(--grid-gutter)
                    position: relative
                    .block-call_to_action,
                    .block-persons
                        margin-bottom: 0
                        margin-top: 0
                        width: columns(6)
                        .block-content
                            padding-bottom: 0
                            padding-top: 0
                        .top
                            border-top: 1px solid var(--color-accent)
                            padding-top: pxToRem(10)
                            h2
                                @include h2
                    // cta
                    .call_to_action > div
                        display: block
                        width: 100%
                        .actions
                            margin-top: space(8)
                    // persons
                    .block-persons
                        .persons
                            @include grid(1)
                        .person
                            flex-direction: row
                            .description
                                margin-top: 0
                        .avatar
                            width: columns(2)
    @include media-breakpoint-up(desktop)
        &.full-width
            .block-pages--grid
                .grid
                    @include grid(2)