.projects__page
    // call to action with image
    .block-call_to_action--no_background 
        .call_to_action--with-image
            .top
                .description
                    p
                        @include meta
    &:not(.full-width)
        .block-call_to_action--no_background 
            .call_to_action--with-image
                gap: var(--grid-gutter)
                figure
                    margin-left: 0
                    order: -1
    // list titles more discreet
    .block.block-title + .block
        .top .block-title a
            @include body-text

// project's categories page
.projects_categories__term
    .categories
        &--grid
            .category-item
                .projects_category-title
                    @include h3
                    a::after
                        content: '→' !important
                        display: inline-block
                        font-family: inherit !important
                        padding-left: space()
                        transition: transform 0.3s ease
                &:hover .projects_category-title a::after
                    transform: translateX($spacing-1)