<div class="container">
  <div class="footer-presentation">
    {{ partial "footer/logo.html" }}
    <p>{{ i18n "commons.footer.campus.text" }}</p>
    <p>{{ i18n "commons.footer.campus.ecosystem" }}</p>
    {{ $ecosystem_list := partial "GetMenu" "ecosysteme-footer" }}
    {{ if $ecosystem_list }}
      {{ partial "commons/menu.html" (dict
          "kind" "ecosysteme-footer"
          "level" 1
          "context" .
          "class" "ecosystem-cta"
        )}}
    {{ end }}
  </div>

  <div class="footer-site">
    <address itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
      <span itemprop="streetAddress">184 Avenue de Luminy</span>
      <span itemprop="extendedAddress">CS 7091213288</span>
      <span itemprop="addressLocality">Marseille Cedex 9</span>
      <span itemprop="addressCountry">France</span>
    </address>
    <p class="phone-numbers">
      <span>Tel : <a itemprop="telephone" href="tel:0491828310">04 91 82 83 10</a></span>
      <span>Fax : <a itemprop="telephone" href="tel:0491828311">04 91 82 83 11</a></span>
    </p>
    
    {{ $file_cta := partial "GetMenu" "cta-footer" }}
    {{ if $file_cta }}
      {{ partial "commons/menu.html" (dict
          "kind" "cta-footer"
          "level" 1
          "context" .
          "class" "footer-cta"
        )}}
    {{ end }}
  </div>

  {{ $footer_internal := partial "GetMenu" "footer" }}
  {{ if $footer_internal }}
    {{ partial "commons/menu.html" (dict
        "kind" "footer"
        "level" 1
        "stop" 1
        "context" .
        "class" "footer-nav"
      )}}
  {{ end }}

  {{ $footer_external := partial "GetMenu" "footer-external" }}
  {{ if $footer_external }}
    {{ partial "commons/menu.html" (dict
        "kind" "footer-external"
        "level" 1
        "stop" 1
        "context" .
        "class" "footer-nav"
      )}}
  {{ end }}
</div>

<div class="container">
  <div class="footer-social">
    {{ partial "footer/social.html" . }}
  </div>
  <div class="footer-legals">
    {{ partial "footer/legals.html" . }}
    {{ if and site.Params.search.active (in site.Params.search.positions "footer") }}
      <div class="footer-search">
        {{ partial "commons/search/button.html" "footer" }}
      </div>
    {{ end }}
  </div>
</div>
<div class="container footer__supports">
  <ul>
    <li><img src="/assets/images/footer/logo-culture.svg" alt="Soutenu par le Ministère de la Culture - Liberté, Égalité, Fraternité"></li>
    <li><img src="/assets/images/footer/logo-marseille.svg" alt="Ville de Marseille"></li>
  </ul>
</div>
{{ partial "footer/footer-landscape.html" }}